html {
  font-family: sans-serif;
}

.title {
  text-align: center;
}

.form-group {
  margin: 16px auto;
  max-width: 256px;
}

.form-group div {
  display: flex;
  flex-direction: column;
}

.form-group label {
  text-align: center;
}

.form-group div {
  margin-top: 16px;
  margin-bottom: 16px;
}

.form-input {
  font-size: 32px;
  max-width: 256px;
  text-align: center;
}
